.parallax {
  background-image: url(/banner.jpg);
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
    font-size: 48px;
    padding: 0 10rem;
    position: absolute;
    text-align: center;
    top: 235px;
}
