.container {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
    }
}

.service {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service img {
    border-radius: 16px;
    width: 200px;
}

.title {
    color: var(--theme);
}